# 🛠️ xmake 本地状态与构建目录
.xmake/
build/
bin/

# 💻 IDE 配置文件
.vs/
.vscode/
*.user
*.suo
*.vcxproj*
*.sln

# 📦 构建产物
*.dll
*.pdb
*.lib
*.exp
*.obj
*.ilk

# 🗃️ 缓存文件
.cache/
**/__pycache__/
*.py[cod]

# 🧾 自动生成的 compile_commands.json
compile_commands.json

# 🧹 临时目录
tmp/
temp/
